# IDE and OS
.idea
.vscode
.DS_Store

# output
bin
log
*.log
*.out
*.out.*
*.test
.env*
!.env.example
.devbox

# dependencies
vendor
tmp

data
.aider*
.aidigestignore
codebase.md
instruction.md
docs/sessions
docs/.current-session