# IDE and OS
.idea
.vscode
.DS_Store

# output
bin
log
*.log
*.out
*.out.*
*.test
.env*
!.env.example
.devbox

# dependencies
vendor
tmp


# sessions
data
.aider*
.aidigestignore
codebase.md
instruction.md
docs/.current-session

# build
main
server